#calculator, #clients, #reviews, #contacts {
    background-color: white;
}
.page-content {
    margin-bottom: 0;
}
.navbar {
    background-color: white;
}
.logo {
    padding: 0 10px;
    float: left;
}
.logo>a>img {
    height: 91px;
    float: left;
    margin-right: 10px;
}
.logo-title{
    display: inline-block;
    text-align: center;
}
.logo>.logo-title>p:first-child {
    font-size: 30px;
    margin-top: 15px;
}
.logo>.logo-title>p:nth-child(2) {
    margin-top: 2px;
    font-size: 9px;
}
.logo>.logo-title>p {
    font-size: 19px;
    margin-top: 2px;
}
.logo>.logo-title>p>a {
    color: #999;
}
.nav>li {
    display: table;
    height: 90px;
}
.nav>li>a {
    display: table-cell;
    vertical-align: middle;
}
.carousel-inner>.item>img {
    width: 100%;
}
article>img.col-md-2 {
    padding-left: 0;
    padding-right: 0;
    width: 16.66667%;
}
#clients>.row>div {
    margin-bottom: 15px;
}
#contacts {
    margin-top: 10px;
}
footer {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
footer>p>a {
    color: inherit;
}
footer>p>a:hover {
    text-decoration: none;
}

.navbar-custom{
    position: relative;
    z-index: 100;
    margin-bottom: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.h-title{
    background-color: #e8e7e7!important;
}
.h-title>h3{
    margin-bottom: 0px!important;
}
.h-title>h1 {
    text-align: center;
}

.clients{
    padding-top: 10px;
}

.clients > div {
    text-align: center;
}

.feedback{
    padding-top: 10px;
}

.review-text p{
    margin-left: 0px;
}

.feedback-img{
    text-align: center;
}
.feedback-img > img{
    width:80%
}
.articles {
    padding: 0 10px;
}
.articles .btn-more {
    float: right;
    margin: 0 10px 40px;
    background-color: #ebebeb;
}
.articles h4 {
    text-align: left;
}
.articles .article-img {
    height: auto;
    float: left;
    margin: 4px 10px;
}
.articles .article-img>img {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    max-width: 200px;
}

.padding-none{
    padding: 0px !important;
}

@media (min-width: 992px)   {
    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-8 {
        width: 66.66667%;
    }
    .col-md-3 {
        width: 25%;
    }
}