#contacts hr {
	margin: 10px 15px !important;
}

.small-content {
	min-height: 700px;
	padding: 10px 40px;
}

.quip-fld {
	height: 45px;
	margin-right: 80px;
}
.quip-fld .attachment {
	margin: 20px 0 5px 25px;
	width: 500px;	
}

.modal-body label {
	float: right;
	margin: 3px 5px 0 0;
}
.modal-body input {
	float: right;
	width: 250px;
}

.modal-body textarea {
	width: 535px;
	height: 200px;
}

.paddtop30 {margin-top: -100px;}

.order-info h3 {font-size: 18px; margin-left: 15px;}
.order-info .order-text-block {
	margin-top: 5px;
}

.order-info .edition {
	text-align: center;
	font-weight: bold;
	color: #972c29;
	margin-left: 0 !important;
}

.order-info .option-title {
	font-weight: bold;
	margin-left: 30px !important;
}

.order-info p {
	margin-left: 45px;
}

.order-info .price {
	font-size: 16px;
	font-weight: bold;
}

.order-info .price span {color: #972c29;}

.btn-order {
	color: #fff;
	background-color: #7a381e;	
}
.btn-order:hover {
	color: #fff;
	background-color: #72412d;
	border-color: #ccc;
}

#calculator .btn-order {margin-left: 15px;}

.nomerok-form .order-info h3 {
	padding: 0 !important;
	line-height: 0 !important;
}
.nomerok-form .order-info p {margin-bottom: 20px;}

.nomerok-form .order-info input {
	width: 100px !important;
	border-radius: 5px;
	text-align: center;
}
.nomerok-form .order-info .quip-fld {margin-right: 205px;}

.order-price-nomerok {
	margin: 10px 0 0 64px;
	font-size: 16px !important;
	font-weight: bold;
}
.nomerok-form .shtuk {
	float: right;
	font-size: 15px !important;
	font-weight: bold;
	margin-top: 6px;
}

.discount {
	color: #972c29;
	font-size: 16px;
	font-weight: bold;
}

.btn-order-nomerok {
	text-align: center;
	margin: -10px 0 15px 0;
}

.social-icons{margin: 10px 0 0 30px;}
.social-icons img {margin-left: 10px;}

/*media queries*/

@media (max-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
  }
  .content {
	  margin-top:0;
  }
  .sidebar {
	  position: relative;
  }
  .col-md-offset-3 {
	  margin-left: 0;
  }
}

.feedback-name{
	padding-left:38px;
}

.blog-content{
	padding: 30px
}

.calc-p-text{
	width: 100%;

}

.tooltip{
	 display: inline;
}